<a href="https://colab.research.google.com/github/thedeveshpareek/ML-Training-assignment/blob/main/day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

GO_STP_8589

1.We are having 3 list like this

Colors = [“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like its is a fruit or color or Animal

ii. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print "They don't belong to same category"

In [ ]:
#1
Colors = ["Yellow","Green","White","Black"]
Fruits=["Apple","Papaya","mango","Orange"]
Animals=["Tiger","Lion","Deer","zebra"]
name=input("choice : ")
if name in Colors:
  print(name,"is Color")
elif name in Animals:
  print(name,"is Animal")
elif name in Fruits:
  print(name,"is Fruit")
else :
  print("name is not find in the given list ")

choice : Green
Green is Color

In [ ]:
#2
choice1= input("choice_1 :")
choice2= input("choice_2 :")
if choice1 in Colors:
  if choice2 in Colors:
    print("both choices are colors")
  else :
    print("both choices are different")
elif choice1 in Fruits:
  if choice2 in Fruits:
    print("both choices are fruits")
  else:
    print("both choices are different")
elif choice1 in Animals:
  if choice2 in Animals:
    print("both are the animals")
  else:
    print("both choices are different")
else:
  print("the choice are you given this is not in the list")

2.Write a python program that can tell you if your grade score good or not . Good Score range is 40 to 60.

i. Ask user to enter his score.

ii. If it is below 40 to 60 range then print that score is low

iii. If it is above 60 then print that it is good otherwise print that it is norma

In [ ]:
num=int(input("Your Score "))
if num<=40:
  print("score is low")
elif num in range(40,60):
  print("it is normal")
elif num>=60:
  print("good")

Your Score 39
score is low


3.After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

Using for loop figure out how many times you got Pass

In [ ]:
result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
count=0
for item in result:
  if item is "Pass":
    count+=1
print(count)

1

4.Write a program that prints following shape
*    
**   
***  
**** 
*****
****
*** 
**  
*

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if j<=i:
      print("*",end="")
    else:
      print(" ",end="")
  print("")
for i in range(0,4):
  for j in range(0,4):
    if j<(4-i):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

*
**
***
****
*****
****
***
**
*


5.Lets say you are running a 50 km race. Write a program that,

Upon completing each 10 km asks you "are you tired?"

If you reply "yes" then it should break and print "you didn't finish the race"

If you reply "no" then it should continue and ask "are you tired" on every km

If you finish all 50 km then it should print congratulations message

In [ ]:
flag=True
for _ in range(0,50,10):
  s=input("are you tired? \n")
  if s=='no':
    continue
  else:
    flag=False
    break
if flag:
  print("congratulations")

are you tired?
no
are you tired?
no
are you tired?
no
are you tired?
no
are you tired?
no
congratulations


6.Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [ ]:
for i in range(1500,2701):
  if i%7==0 and i%5==0:
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

7.Print square of all numbers between 10 to 20 except even numbers

In [ ]:
for j in range(10,21):
  flag=False
  for i in range(2,j):
    if (j % i) == 0:
      flag=True
  if flag:
    print(j)

10
12
14
15
16
18
20

8.Your Marks for five Test(test1 to test5) looks like this,

marks_list = [65, 75, 2100, 95, 83]

Write a program that asks you to enter marks and program should tell you in which test that expense occurred. If expense is not found then it should print that as well.

In [ ]:
marks_list = [65, 75, 2100, 95, 83]
l=[]
for item in marks_list:
  g=int(input("enter marks "))
  if item == g:
    #expence not found
    print(item)
  else:
    #expence found
    print("Expence found")

enter marks 65
65
enter marks 12
Expence found
enter marks 86
Expence found
enter marks 40
Expence found
enter marks 1
Expence found