<a href="https://colab.research.google.com/github/thedeveshpareek/ML-Training-assignment/blob/main/Task__3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#go_stp_8589
devesh pareek

#Q1
1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [1]:
import operator
x = {'A':5,'B':4,'C':2,'D':6,'E':3}
asc = sorted(x.items(), key=operator.itemgetter(1))
print('Ascending Order Is : ',asc)
desc = sorted(x.items(), key=operator.itemgetter(1), reverse=True)
print('Descending Order Is : ',desc)

Ascending Order Is :  [('C', 2), ('E', 3), ('B', 4), ('A', 5), ('D', 6)]
Descending Order Is :  [('D', 6), ('A', 5), ('B', 4), ('E', 3), ('C', 2)]

#2 Write a Python Program to add a key to a dictionary.

In [2]:
x = {'A':5,'B':4,'C':2,'D':6,'E':3}
x.update({'E':8})
x

{'A': 5, 'B': 4, 'C': 2, 'D': 6, 'E': 8}

3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [3]:
dic = dict()
n = int(input('Enter The Number Of Cities : '))
for i in range(n):
  city = input('Enter A Name Of The City : ')
  temp = int(input('Enter The Temperature In Celcious Of The City : '))
  dic[city] = temp
print('Created Dictionary Is : ',dic)
city_name = input('Enter Name Of The City To Check Temperature Of It : ')
print('Temperature Of The City Is : ',dic[city_name])

Enter The Number Of Cities : 4
Enter A Name Of The City : sikar
Enter The Temperature In Celcious Of The City : 40
Enter A Name Of The City : jaipur
Enter The Temperature In Celcious Of The City : 45
Enter A Name Of The City : jodhpur
Enter The Temperature In Celcious Of The City : 48
Enter A Name Of The City : jaisalmer
Enter The Temperature In Celcious Of The City : 45
Created Dictionary Is :  {'sikar': 40, 'jaipur': 45, 'jodhpur': 48, 'jaisalmer': 45}
Enter Name Of The City To Check Temperature Of It : jaisalmer
Temperature Of The City Is :  45

#4.Write a Python program to convert list to list of dictionaries.

In [4]:
list1 = ["Sathya","Yuvi","Sathish","Vignesh","Prakash",]
list2 = [23,26,24,22,23]
print([{'Name': f, 'Age': c} for f, c in zip(list1, list2)])

[{'Name': 'Sathya', 'Age': 23}, {'Name': 'Yuvi', 'Age': 26}, {'Name': 'Sathish', 'Age': 24}, {'Name': 'Vignesh', 'Age': 22}, {'Name': 'Prakash', 'Age': 23}]

#5 We have following information on Employees and their Salary (Salary is in lakhs),

In [7]:
data = {'John':1400000, 'Smith':1300000, 'Alice':3200000, 'Daniel':3200000}
print('Data Of Employee And Their Salaries')
user_input = input('What Do You Want With This Data (Print\Add\Remove\Query) : '.title())
if user_input=='Print':
  for i in data.items():
    print(i[0],'==>',i[1])
elif user_input == 'Add':
  new_name = input('Enter A Name Of New Employee : ')
  if new_name in data.keys():
    print('This Name Is Already In Data')
  else:
    new_sal = int(input('Enter The Salary Of Employee : '))
    data[new_name]=new_sal
    for j in data.items():
      print(j[0],'==>',j[1])
elif user_input == 'Remove':
  rem = input('Enter A Employee Name To Remove : ')
  if rem in data:
    del data[rem]
    for k in data.items():
      print(k[0],'==>',k[1])
  else:
    print('Employee Does Not Exist')
elif user_input == 'Query':
  quer = input('Enter The Name Of The Employee Wants To Query')
  if quer in data:
    print(data[quer])
  else:
    print('The Name Does Not Exist')
else:
  print('Enter Only Valid Input')

Data Of Employee And Their Salaries
What Do You Want With This Data (Print\Add\Remove\Query) : Print
John ==> 1400000
Smith ==> 1300000
Alice ==> 3200000
Daniel ==> 3200000

#Question on sets

 Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

In [8]:

vowels = ('a', 'e', 'i', 'o', 'u')
fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())
fSet.add('v')

The frozen set is: frozenset({'a', 'e', 'i', 'u', 'o'})
The empty frozen set is: frozenset()

AttributeError: ignored

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [9]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print(set1.difference(set2))

{10, 20, 30}