<a href="https://colab.research.google.com/github/thedeveshpareek/ML-Training-assignment/blob/main/task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bharat Chhedwal
Task 3

GO_STP_11643

Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator
dn = {2: 5, 9: 4, 1: 3, 2: 6, 7: 0}
print('Dictionary before sorting : ',dn)
sor_d = sorted(dn.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sor_d)
sor_d = dict( sorted(dn.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sor_d)

Dictionary before sorting :  {2: 6, 9: 4, 1: 3, 7: 0}
Dictionary in ascending order by value :  [(7, 0), (1, 3), (9, 4), (2, 6)]
Dictionary in descending order by value :  {2: 6, 9: 4, 1: 3, 7: 0}

Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
Sample_d = {0:10,1:20}
print("Sample Dictionary : ", Sample_d)
Sample_d.update({2:30})
print("Updated Dictionary : ", Sample_d)

Sample Dictionary :  {0: 10, 1: 20}
Updated Dictionary :  {0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
cl = []
tl = []
newd = {}

flag = True
while(flag):
  print('\n 1: Type 1 to add new record : \n 2: Type 2 to exit : ')
  ch = eval(input('Enter your choice : '))
  if ch == 1:
    ct = input('Input name of the City : ')
    tem = eval(input('Input Temperature of the City : '))
    cl.append(ct)
    tl.append(tem)
  elif ch == 2:
    flag = False
  else:
    print("Choice not Found")

for i in range(0,len(cl)):
  newd.update({cl[i]:tl[i]})
inputcityname = input('Enter the name of the city whose Temperature you want to know : ')
if (len(newd) == 0):
  print('The List is empty')
elif inputcityname not in newd.keys():
  print('The City name you entered does not exist in the list')
else: print(f'The Temperature is {newd[inputcityname]}')

 1: Type 1 to add new record :
 2: Type 2 to exit :
Enter your choice : 1
Input name of the City : Ahmedabad
Input Temperature of the City : 39

 1: Type 1 to add new record :
 2: Type 2 to exit :
Enter your choice : 1
Input name of the City : Surat
Input Temperature of the City : 34

 1: Type 1 to add new record :
 2: Type 2 to exit :
Enter your choice : 2
Enter the name of the city whose Temperature you want to know : Surat
The Temperature is 34

Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
name_l = ["Black","Red","Maroon","Yellow"]
code_l = ["#000000", "#FF0000", "#800000", "#FFFF00"]
clr = []
for i in range(0,len(name_l)):
  clr.append({'color_name' : name_l[i], 'color_code' : code_l[i]})
print(clr)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary

John  	14

Smith  	13

Alice  	32

Daneil	21

1.)Using above create a dictionary of Employees and their Salary

2.)Write a program that asks user for three type of inputs,
a] print: if user enter print then it should print all Employees with their Salary in this format,
1.John ==>14

2.Smith ==>13

3.Alice ==>32

4.Daneil ==>21

b]add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

c]remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

d]query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
empsalary = {'John' : 14, 'Smith' : 13, 'Alice' : 32, 'Daneil' : 21}

def printall():
  print("\nEmployee ==> Salary")
  for em in empsalary:
    print("%s ==> %d", (em, empsalary[em]))

def addemp():
  newname = input("\nEnter name of new Employee : ")
  newsalary = int(input("Enter Salary of the new Employee"))
  if newname in empsalary:
    print("Already entered!")
    return
  empsalary[newname] = newsalary

def removeemp():
  empname = input("\nEnter name of Employee to be removed : ")
  if empname in empsalary:
    empsalary.pop(empname)
    return
  print("Employee does not exist!")

def empquery():
  empname = input("\nEnter name of Employee : ")
  if empname in empsalary:
    print("The salary of employee is : ",empsalary[empname])
  else:
    print("Employee does not exist!")

flag = True

while(flag):
  print('\n1] Print: ')
  print('\n2] Add: ')
  print('\n3] Remove: ')
  print('\n4] Query: ')
  print('\n5] Exit: ')
  ch = int(input('Enter your choice : '))
  if ch == 1:
    printall()
  elif ch == 2:
    addemp()
  elif ch == 3:
    removeemp()
    printall()
  elif ch == 4:
    empquery()
  elif ch == 5:
    print("you have exited!")
    flag = False
  else:
    print("Your choice is not valid")

1] Print:

2] Add:

3] Remove:

4] Query:

5] Exit:
Enter your choice : 1

Employee ==> Salary
%s ==> %d ('John', 14)
%s ==> %d ('Smith', 13)
%s ==> %d ('Alice', 32)
%s ==> %d ('Daneil', 21)

1] Print:

2] Add:

3] Remove:

4] Query:

5] Exit:
Enter your choice : 2

Enter name of new Employee : Sam
Enter Salary of the new Employee23

1] Print:

2] Add:

3] Remove:

4] Query:

5] Exit:
Enter your choice : 3

Enter name of Employee to be removed : Alice

Employee ==> Salary
%s ==> %d ('John', 14)
%s ==> %d ('Smith', 13)
%s ==> %d ('Daneil', 21)
%s ==> %d ('Sam', 23)

1] Print:

2] Add:

3] Remove:

4] Query:

5] Exit:
Enter your choice : 4

Enter name of Employee : John
The salary of employee is :  14

1] Print:

2] Add:

3] Remove:

4] Query:

5] Exit:
Enter your choice : 5
you have exited!

#Questions on Sets-
Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Ans. When we create a set(a simple set is created) that means we can further modify this set and add element(unique objects only) so it is mutable whereas a frozen set means once we have declared it, we cannot further modify or reshape it and hence it is immutable.

In [ ]:
setname = {"mansi","piya","neesha"}
f = frozenset(setname)
print(f)
f.add("niya")
print(f)

frozenset({'mansi', 'neesha', 'piya'})

AttributeError: ignored

Hence from above we can see that we cannot add elements to frozenset.

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [ ]:
A = {10,20,30,40,50}
B = {40,50,60,70,80}
print ("A-B: " ,A - B)
print ("B-A: " ,B - A)

A-B:  {10, 20, 30}
B-A:  {80, 60, 70}