<a href="https://colab.research.google.com/github/thedeveshpareek/ML-Training-assignment/blob/main/task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Is a list mutable? 
ans. yes list is mutable.

In [ ]:
l1 = ['devesh','10','34']
l1[1]=['pareek']
print(l1)

['devesh', ['pareek'], '34']

# 2. Does a list need to be homogeneous?

Ans: No, list doen not need to be homogenous.

In [ ]:
l2 = ["hello", 10, 2.4]
print(l2)

['hello', 10, 2.4]

# 3. What is the difference between a list and a tuple?

Ans: Lists are mutable while tuples are immutable.

In [ ]:
l1 = ['devesh','10','34']
l1[1]=['pareek']
print(l1)

['devesh', ['pareek'], '34']

In [ ]:
t1=("devesh",10,20)
t1[1]=('pareek')
print(t1)

TypeError: ignored

# 4. How to find the number of elements in the list?

Ans: By len() function.

In [ ]:
len(l1)

3

# 5. How to check whether the list is empty or not?

In [ ]:
l2=[]
if len(l2)==0:
  print("list is empty")
else:
  print("list is not empty")

list is empty

# 6. How to find the first and last element of the list?

In [ ]:
print(l1)
print(l1[0])
print(l1[-1])

['devesh', ['pareek'], '34']
devesh
34

# 7.How to find the largest and lowest value in the list?

In [ ]:
l=[1,2,34,54,3,2,5,32,234,67]
print({max(l)})
print({min(l)})

{234}
{1}

# 8. How to access elements of the list?
ans. by slicing.

In [ ]:
print(l)
print(f" first element: {l[0]}")
print(f" last element: {l[-1]}")
print(f" first fifth elements: {l[:5]}")
print(f" last fifth elements: {l[-5::]}")

[1, 2, 34, 54, 3, 2, 5, 32, 234, 67]
 first element: 1
 last element: 67
 first fifth elements: [1, 2, 34, 54, 3]
 last fifth elements: [2, 5, 32, 234, 67]

# 9. Remove elements in a list before a specific index

In [ ]:
print(l)
l.remove(l[0])
print(l)
l.pop(5)
print(l)

[2, 34, 54, 3, 2, 5, 32, 234, 67]
[34, 54, 3, 2, 5, 32, 234, 67]
[34, 54, 3, 2, 5, 234, 67]

# 10. Remove elements in a list between 2 indices.

In [ ]:
print(l)
del l[0:1]
print("after delete the element in the list :" ,l)

[34, 54, 3, 2, 5, 234, 67]
after delete the element in the list : [54, 3, 2, 5, 234, 67]

# 11. Return every 2nd element in a list between 2 indices.

In [ ]:
len(l)
print ("every second element in a list",l[0:6:2])

every second element in a list [54, 2, 234]

# 12. Get the first element from each nested list in a list.

In [ ]:
l3=[[0,1,2],[3,4,5],[7,5,4]]
for i in  l3:
  print(i[0],end="\n")

0
3
7

## 13. How to modify elements of the list?

In [ ]:
print(l)
l[0]="devesh"
print(l)

[54, 3, 2, 5, 234, 67]
['devesh', 3, 2, 5, 234, 67]

# 14. How to concatenate two lists?

Ans: By '+' operator

In [41]:
print(l1,l)
print(f"{l1+l}")

['devesh', ['pareek'], '34'] ['devesh', 3, 2, 5, 234, 67]
['devesh', ['pareek'], '34', 'devesh', 3, 2, 5, 234, 67]

# 15. How to add two lists element-wise in python?

Ans: By mapping.

In [42]:
from operator import add 
l4=[1,2,3,4]
l5=[6,7,8,9]
add_list=list(map(add, l4,l5))
print("After adding the list :", add_list)

After adding the list : [7, 9, 11, 13]

### 16. Difference between del and clear?

Ans: The del keyword is used to delete objects. In Python everything is an object, so 
    the del keyword can also be used to delete variables, lists, or parts of a list etc.
    The clear is used to clear the entire list.

## 17. Difference between remove and pop?

Ans: Remove is used to remove a specific item from the list 
    whereas pop delete the item from a particular index.

## 18. Difference between append and extend?

Ans: Append is used to add a single element in the list to the last position while
     extend is used to add a series of elements in the list by assigning them in a single line.

## 19. Difference between indexing and Slicing?

Ans: Indexing is used to access a single element from the list while slicing is used to access series of elements
     or we can say range of elements from the given list.

## 20. Difference between sort and sorted?

Ans: sort function will modify the list it is called on whereas the sorted function will create
     a new list containing a sorted version of the given list.

# 21. Difference between reverse and reversed?

Ans: Reverse function returns the reverse version of a list while reversed function not actually reverse the list, it returns an object that can be used to iterate over the container's elements in re

## 22. Difference between copy and deepcopy?

Ans: A shallow copy constructs a new compound object and then inserts references into it to the objects found in the original.
     A deep copy constructs a new compound object and then 
     recursively, inserts copies into it of the objects found in the original.

## 23. How to remove duplicate elements in the list?

Ans: By using set function.

In [44]:
print(l5)
list(set(l5))

[6, 7, 8, 9]

[8, 9, 6, 7]

## 24. How to find an index of an element in the python list?

Ans: By using index function.

In [48]:
print(l4)
l4.index(1)

[1, 2, 3, 4]

0

## 25. How to find the occurrences of an element in the python list?

Ans: By count() function.

In [50]:
l4.count(1)

1

## 26. How to insert an item at a given position?

Ans: By insert() function.

In [51]:
print(l4)
l4.insert(2,5)
print(l4)

[1, 2, 3, 4]
[1, 2, 5, 3, 4]

## 27. How to check if an item is in the list?

Ans: By simple in and not operator

In [54]:
if 2 in l4:
    print("2 is in list.")
if 2 not in l4:
    print("2 is not in list.")

2 is in list.

## 28. How to flatten a list in python?

Ans: By using nested loops, we can flatten a nested list.

In [56]:
a = [[1,2,3],[4,5,6],[7,8,9]]
for i in a:
    for item in i:
        print(item, end=" ")

1 2 3 4 5 6 7 8 9

## 29. How to convert python list to other data structures like set, tuple, dictionary?

Ans: By the concept of typecasting.

In [57]:

b = [1,2,3,4,5]
print(type(b))
type(set(b))
type(tuple(b))

<class 'list'>

tuple

## 30. How to apply a function to all items in the list?

In [58]:
def double(integer):
    return integer*2
integer_list = [1, 2, 3]

output_list = list(map(double, integer_list))
  
print(output_list)

[2, 4, 6]

## 31. How to filter the elements based on a function in a python list?

In [59]:
d = [1,2,3,4,5,6,7,8,9]
d_filtered = filter(lambda item: item>6, d)
print("Fitered list: ", list(d_filtered))

Fitered list:  [7, 8, 9]

## 32. How python lists are stored in memory?

Ans: lists are stored in distinct chunks of memory which are linked together with 
     pointers, which enables efficient use of memory generally and 
     doesnt require resizing.